
* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  height: 60px;
  list-style: none;
  perspective: 1000px;
}

ul li:hover {
  cursor: pointer;
}

li.active {
 text-decoration: underline;
 text-underline-offset: 7px;
 transform: scale(1.3);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f7f1;
  color: #2f2f2f;
  font-family: "Noticia Text", sans-serif;
}

#home-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-div > :nth-child(1) > h1 {
  font-size: 17px;
}

#home-div > :nth-child(1) > :nth-child(1) {
  text-align: center;
}

.profile-picture {
  height: 75vh;
  width: 220px;
  object-fit: cover;
}

#about-div {
  flex-direction: column;
  gap: 22px;
  align-items: center;
}

#about-div > p {
  width: 585px;
  text-align: justify
}

#projects-div {
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

#projects-div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  border-radius: 10px;
}

@media only screen and (max-width:600px) {
  #projects-div {
    flex-direction: column;
  }

  #projects-div > div {
    height: 20vh;
    width: 80vw;
  }
}

@media only screen and (min-width: 601px){
  #projects-div > div {
    height: 30vh;
    width: 28vw;
  }
}

@media only screen and (min-width: 768px){
  #projects-div > div {
    height: 40vh;
    width: 27vw;
  }
}

@media only screen and (min-width: 992px){
  #projects-div > div {
    height: 40vh;
    width: 25vw;
  }
}

@media only screen and (min-width: 1200px){
  #projects-div > div {
    height: 55vh;
    width: 29vw;
  }
}

#about-div, #projects-div {
  display: none;
}

footer {
  margin: auto auto 9px auto
}

