body {
  margin: 0px;
  background-color: #171717;
  color: #a6ff52;
  font-family: "Bungee Spice", sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

ul {
  display: inline-flex;
  justify-content: center;
  height: 50px;
  margin: 0px;
  background-color: #2e2c2c;
  color: whitesmoke;
  border-radius: 11px;
  list-style: none;
  gap: 20px;
}

ul li:hover {
  cursor: pointer;
}

.profile_picture {
  border-radius: 50%;
}

li.active {
  color: #a6ff52 !important;
}

div:not(#about) {
  display: none
}